.container{
    max-width: 1140px;
    margin: auto;
    color: #f4f4f4;
}

.page-btns{
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -10px;
    max-width: 97%;
}
.page-btns button{
    background-color: transparent;
    border: none;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    color: #f4f4f4;
    font-size: .9rem;
}
.page-btns button:hover{
    color: #6900ff;
}
.bot{
    margin-bottom: 20px;
    margin-top: -10px;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18181b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name{
    margin-left: -4rem;
}

.coin-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18181b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    color: #f4f4f4;
}
.coin-row:hover{
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img{
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol{
    display: flex;
    align-items: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    font-size: .8rem;
    height: 40px;
}
@media screen and (max-width: 720px){
    .hide-mobile{
        display: none;
    }
}